body {
  font-family: "Roboto", sans-serif;
  font-family: "Raleway", sans-serif;
  background: #ffffff;
  position: relative;
  width: 1600px;
  height: 1880px;
}
.filters {
  position: absolute;
  width: 572px;
  height: 54px;
  left: 510px;
  top: 174px;
}
.list-filters {
  cursor: pointer;
  position: absolute;
  height: 38px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
.list-filters:hover,
.list-filters:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.filter1 {
  position: absolute;
  width: 121px;
  height: 38px;
  left: 510px;
  top: 174px;
}
.filter2 {
  position: absolute;
  width: 93px;
  height: 38px;
  left: 639px;
  top: 174px;
}
.filter3 {
  position: absolute;
  width: 114px;
  height: 38px;
  left: 740px;
  top: 174px;
}
.filter4 {
  position: absolute;
  width: 91px;
  height: 38px;
  left: 862px;
  top: 174px;
}
.filter5 {
  position: absolute;
  width: 121px;
  height: 38px;
  left: 961px;
  top: 174px;
}
.button {
  cursor: pointer;
}
.Technocrack {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 215px;
  top: 262px;
  background: url(Technocrack.jpg);
}
h3 {
  width: 322px;
  height: 36px;
  left: 239px;
  top: 584px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
p {
  width: 322px;
  height: 30px;
  left: 239px;
  top: 624px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
.projects1 {
  box-sizing: border-box;
  position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 262px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.projects2 {
  box-sizing: border-box;
  position: absolute;
  width: 370px;
  height: 404px;
  left: 625px;
  top: 260px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.projects3 {
  box-sizing: border-box;
  position: absolute;
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 262px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.projects4 {
  box-sizing: border-box;
  position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 696px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.projects5 {
  box-sizing: border-box;
  position: absolute;
  width: 370px;
  height: 404px;
  left: 615px;
  top: 696px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.projects6 {
  box-sizing: border-box;
  position: absolute;
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 696px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.projects7 {
  box-sizing: border-box;
  position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 1130px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.projects8 {
  box-sizing: border-box;
  position: absolute;
  width: 370px;
  height: 404px;
  left: 615px;
  top: 1130px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.projects9 {
  box-sizing: border-box;
  position: absolute;
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 1130px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.basketball {
  width: 370px;
  height: 294px;
  left: 615px;
  top: 270px;
  background: url(basketball.jpg);
}
.seafood {
  width: 370px;
  height: 294px;
  left: 1015px;
  top: 270px;
  background: url(Restaurant Seafood.jpg);
}
.projekt-prime {
  width: 370px;
  height: 294px;
  left: 215px;
  top: 704px;
  background: url(Projekt Prime.jpg);
}
.website {
  width: 370px;
  height: 294px;
  left: 1015px;
  top: 704px;
  background: url(Inspiration has no Borders.jpg);
}
.magazin {
  width: 370px;
  height: 294px;
  left: 215px;
  top: 1138px;
  background: url(Magazyn Limited Edition.jpg);
}
.projekt-lab {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 615px;
  top: 1138px;
  background: url(Projekt LAB.jpg);
}
.growing-business {
  width: 370px;
  height: 294px;
  left: 1015px;
  top: 1138px;
  background: url(Growing Business.jpg);
}
.box1 {
  width: 322px;
  height: 70px;
  left: 239px;
  top: 584px;
}
.box2 {
  width: 322px;
  height: 70px;
  left: 639px;
  top: 584px;
}
.box3 {
  width: 322px;
  height: 70px;
  left: 1039px;
  top: 584px;
}
.box4 {
  width: 322px;
  height: 70px;
  left: 239px;
  top: 1018px;
}
.box5 {
  width: 322px;
  height: 70px;
  left: 649px;
  top: 1018px;
}
.box6 {
  width: 322px;
  height: 70px;
  left: 1039px;
  top: 1018px;
}
.box7 {
  width: 322px;
  height: 70px;
  left: 239px;
  top: 1452px;
}
.box8 {
  width: 322px;
  height: 70px;
  left: 639px;
  top: 1452px;
}
.box9 {
  width: 322px;
  height: 70px;
  left: 1039px;
  top: 1452px;
}
header {
  text-decoration: none;
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #ffffff;
}
footer {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;
  background: #2f303a;
}
ul {
  list-style: none;
}
.none {
  text-decoration: none;
}
.web {
  color: #2196f3;
}
.webstudio {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.nav {
  width: 261px;
  height: 16px;
  left: 453px;
  top: 32px;
}
.mail {
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}
.phone {
  width: 110px;
  height: 16px;
  left: 1263px;
  top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}
